<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>Chat Online</title>
</head>
<body>

  <header class='header'>
    <h1>
      <i class="far fa-comment"></i>
      Chat Online
    </h1>
  </header>

  <main class="container center">
    <form action="/chat" method="POST" class='room'>
      <label for="room">Criar nova sala</label>
      <input 
        id="room"
        type="text" 
        name="name"
        placeholder="Digite o nome da sala" 
        autocomplete="off"
      />
      <select name='limit'>
        <option value="0" disabled selected>Limite de pessoas</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
      <button class="highlight">
        Criar
      </button>
    </form>
  </main>
  
</body>
</html>